*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.todoListFrom{
    border: 1px solid rgb(173, 168, 168 );
    width: 40%;
    margin-top: 1%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: absolute;
    .title{
        text-align: center;
        margin-top:  20px;
    }
    .addJob{
        width: 90%;
        border: 1px solid rgb(173, 168, 168);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        box-shadow: -4px 6px 10px rgb(172, 170, 170);
        .inp{
            width: 95%;
            height: 40px;
            margin-top: 20px;
            border-radius: 5px;
            border: 1px solid rgb(125, 120, 120);
            padding-left: 3%;
        }
        .btnAdd{
            width: 95%;
            height: 40px;
            margin-bottom: 20px;
            border-radius: 5px;
            color: white;
            background-color: rgb(44, 145, 228);
            border: none;
        }
        .error{
            margin-right: 50%;
            font-size: 13px;
            color: red;
            display: none;
        }
    }
    .seenStatus{
        width: 90%;
        border: 1px solid rgb(173, 168, 168);
        display: flex;
        justify-content: center;
        padding: 10px 10px;
        gap: 30px;
        box-shadow: -4px 6px 10px rgb(172, 170, 170);
        .pointer{
            border: none;
            background-color: rgb(44, 145, 228);
            color: white;
            padding: 12px;
            border-radius: 5px;
        }
        .btnseen{
            padding: 12px;
            border-radius: 5px;
            border: 1px solid rgb(185, 179, 179);
        }
    }
    .todoList{
        width: 98%;
        max-height: 260px;
        overflow-y: auto;
        .spinner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: rgb(221, 213, 213);
          }
          
        .list{
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 10px;
            .todoItem{
                display: flex;
                justify-content: space-between;
                margin-left: 4%;
                margin-right: 4%;
                border: 1px solid rgb(216, 208, 208);
                padding: 8px 8px;
                box-shadow: -4px 6px 10px rgb(172, 170, 170);
                .nameItem{
                    display: flex;
                    gap: 10px;
                }
                .nameIcon{
                    display: flex;
                    gap: 10px;
                    font-size: 18px;
                    .iconf{
                        color: yellow;
                    }
                    .icons{
                        color: red;
                    }
                }
            }
        }
    }
    .del{
        margin-top: 20px;
        width: 100%;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        gap: 30px;
        .delJobTrue{
            background-color: rgb(234, 64, 45);
            color: white;
            border: none;
            padding: 15px 45px 15px;
            border-radius: 5px;
        }
        .delJobAll{
            background-color: rgb(234, 64, 45);
            color: white;
            border: none;
            padding: 15px 55px 15px;
            border-radius: 5px;
        }
    }
}
// Modal Delete
.outDelLine{
    width: 100%;
    background-color: rgb(108, 102, 102,0.5);
    position: fixed;
    height: 100vh;
    z-index: 1;
.modalDel{
    border: 1px solid rgb(173, 168, 168);
    width: 38%;
    margin-top: 5%;
    margin-left: 31%;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    .modalDelTop{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 68%;
    .delTitle{
        margin-left: 5%;
        font-weight: 700;
        color: rgb(52, 51, 51);
        font-size: 21px;
    }
    .outModelDel{
        font-size: 32px;
    }
}
    .contenDelBox{
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-left: 5%;
        gap: 20px;
        .iconWarning{
            font-size: 45px;
            color: red;
        }
        .contenDel{
            font-size: 18px;
            font-weight: 500;
        }
    }
    .delModalBtn{
        margin-top: 30px;
        margin-left: 70%;
        display: flex;
        gap: 15px;
        margin-bottom: 20px;
        .delBtnCal{
            padding: 10px 18px;
            border: 1px solid rgb(196, 190, 190);
            border-radius: 5px;
        }
        .delBtnDel{
            padding: 10px 18px;
            border: none;
            border-radius: 5px;
            background-color: red;
            color: white;

        }
    }
}
}
// ModalCompletion 
.todoItem.completed .nameItem {
    text-decoration: line-through;
  }
  .outComLine{
    width: 100%;
    background-color: rgb(108, 102, 102,0.5);
    position: fixed;
    height: 100vh;
    z-index: 1;
    .modalCom{
        border: 1px solid rgb(173, 168, 168);
        width: 38%;
        margin-top: 5%;
        margin-left: 31%;
        z-index: 1;
        background-color: white;
        border-radius: 5px;
        .modalComTop{
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 65%;
            .comTitle{
                margin-left: 5%;
                font-weight: 700;
                color: rgb(52, 51, 51);
                font-size: 21px;
            }
            .outModelCom{
                font-size: 32px;
            }
        }
        .contenComBox{
            display: flex;
            align-items: center;
            margin-top: 30px;
            margin-left: 5%;
            gap: 20px;
            .iconWarningCom{
                font-size: 45px;
                color: red;
            }
            .contenCom{
                font-size: 18px;
                font-weight: 500;
            }
        }
        .comModalBtn{
            margin-top: 30px;
            margin-left: 70%;
            display: flex;
            gap: 15px;
            margin-bottom: 20px;
            .comBtnCal{
                padding: 10px 18px;
                border: 1px solid rgb(196, 190, 190);
                border-radius: 5px;
            }
        }
    }
  }
  //Edit Modal
  .outEditLine{
    width: 100%;
    background-color: rgb(108, 102, 102,0.5);
    position: fixed;
    height: 100vh;
    z-index: 1;
    .modalEdit{
        border: 1px solid rgb(173, 168, 168);
        width: 38%;
        margin-top: 5%;
        margin-left: 31%;
        z-index: 1;
        background-color: white;
        border-radius: 5px;
        .modalEditTop{
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 59%;
            .EditTitle{
                margin-left: 5%;
                font-weight: 700;
                color: rgb(52, 51, 51);
                font-size: 21px;
            }
            .outModelEdit{
                font-size: 32px;
            }
        }
        .contenEditBox{
            display: flex;
            align-items: center;
            margin-top: 30px;
            margin-left: 5%;
            gap: 20px;
            .editInp{
                width: 80%;
                height: 35px;
                border: 1px solid rgb(182, 180, 180);
                padding: 3%;
            }
        }
        .editModalBtn{
            margin-top: 30px;
            margin-left: 65%;
            display: flex;
            gap: 15px;
            margin-bottom: 20px;
            .editBtnCal{
                padding: 10px 18px;
                border: 1px solid rgb(196, 190, 190);
                border-radius: 5px;
            }
            .editBtnDel{
                padding: 10px 18px;
                border: none;
                border-radius: 5px;
                background-color: rgb(51, 123, 205);
                color: white;
            }
        }
    }
  }